<!DOCTYPE html>
<html>
<title>keywordit</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<body class="bgimg">

<div>
  <a class="logo" href="https://github.com/JoshHumpherey/keywordit">
     <img src="/static/git_logo.png" alt="Github Logo" height="60" width="60">
  </a>

  <div class="main_title center" >
    <h1 class="main_title">keywordit</h1>
    <div class="break center">
    <hr>
</div>
    <p class="secondary_title">CTRL-F For The Upper Class</p>
  </div>
  <div class="center">
      <form method="POST" class="center">
          <input name="Reddit URL" type="text" class="center" placeholder="Reddit URL">
          <input name="Keyword" type="text" class="center" placeholder="Keyword">
          <input type="submit" class="center">
      </form>
  </div>
  <div align="middle" class="parent">
      {% for top_level_comment in output %}
      <li class="parent">
          {{top_level_comment[0]}}
          {% for reply in top_level_comment[1] %}
            <li class="reply">
                {{reply}}
            </li>
          {% endfor %}
      </li>
     {% endfor %}
  </div>
</div>

</body>
</html>
