<!DOCTYPE html>
<html>
<title>keywordit</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="static/style.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<body class="bgimg">

<div>
  <div class="logo">
     <img src="/static/git_logo.png" alt="Github Logo" height="42" width="42">
  </div>

  <div class="main_title" >
    <h1 class="main_title">keywordit</h1>
    <hr class="main_title">
    <p class="main_title">CTR-F For The Upper Class</p>
  </div>
  <div align="middle" class="w3-display-middle" style="bottom:5000px">
      <form method="POST" align="right">
          <input name="Reddit URL" type="text" align="middle">
          <input name="Keyword" type="text" align="middle">
          <input type="submit" align="middle">
      </form>
  </div>
  <div align="middle" style="bottom:10000px">
      {% for top_level_comment in output %}
      <div>
          {{top_level_comment}}
      </div>
     {% endfor %}
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Contribute on <a href="https://github.com/JoshHumpherey/keywordit" target="_blank">Github</a>
  </div>
</div>

</body>
</html>
